
@{
    ViewData["Title"] = "Analytics";
}

<h1>Analytics</h1>
<iframe
        frameborder="0" 
        allowFullScreen="true" 
        height="1000"
        src="https://app.powerbi.com/view?r=eyJrIjoiMTFkN2Q2MmItZTVjZS00MGQyLWE4MzUtNjVhNjIxNGQzNGViIiwidCI6ImZkZjQ3NmE3LTRlYWEtNGI3ZS1hN2UyLTUxNjlhYTVlMWU3YyIsImMiOjN9" 
        style="width:100%"></iframe>


