@model EntrepreneurBuddy.Models.Mentor
@using Newtonsoft.Json

@{
    ViewData["Title"] = "MentoringRequests";

    bool isMentor = User.IsInRole("Mentor");
}

<div class="text-left">
    <h1 class="ml-3 name-color mb-4 font-weight-bold">Mentoring Requests</h1>
        <mentoring-requests :mentor='@Json.Serialize(Model)' ismentor="@isMentor.ToString()" class=""></mentoring-requests>
</div>
