@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="align-center text-center name-color">@ViewData["Title"]</h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h5 class="text-center">Use a local account to log in.</h5>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button">Log in</button>
                </div>
                <div class="form-group m-0 p-0">
                    <p>
                        <a class="link" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a class="link" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new entreprenuer</a>
                    </p>
                    <p>
                        <a class="link" asp-page="./MentorRegister" asp-route-returnUrl="@Model.ReturnUrl">Register as a new mentor</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
