/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-custom {
  background-color: #24305e;
}

/* Body styles
-------------------------------------------------- */

.name-color {
  color: #be5d16;
}

.black-text {
  color: #000;
}

.button-text {
  color: #fff;
}

.button {
  background-color: #24305e;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}

.button-light {
  background-color: #91b3be;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}

.thumb{
  height: 20px;
  width: 20px;
  margin: 2px;
}

.button:hover {
  background-color: #4a7897;
}

.button:active {
  position: relative;
  top: 1px;
}

a.link {
  color: #4a7897;
}

a.link:active {
  color: #be5d16;
}

a.link:hover {
  color: #be5d16;
}

.badge-blue {
  background: #4a7897;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #efefef;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
